In [ ]:

| Join Type | Explanation | Output Rows |
|-----------|-------------|-------------|
| `inner`   | Only common rows | Only rows that are common in both DataFrames |
| `outer`   | All rows | All rows from both DataFrames |
| `left`    | Rows from left DataFrame | All rows from the left DataFrame and matching rows from the right DataFrame |
| `right`   | Rows from right DataFrame | All rows from the right DataFrame and matching rows from the left DataFrame |
| `cross`   | All rows | Mix all rows with out anz conditions |

In [25]:
# Import Pandas library
import pandas as pd
# This is the basic Carsales DataFrame
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.index.rename("Sales place", inplace=True)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=False)
print(Carsales)

# This DataFrame contains two Carbrands columns which can be joined to the Carsales DataFrame, horizontally. 
Carsales2 = pd.DataFrame({"Volvo": [3, 4, 0, 0, 1, 3], "Tesla": [2, 8, 0, 1, 1, 4]})
Carsales2.rename(index={0: "One", 1: "Nine", 2: "Three", 3: "Six", 4: "Seven", 5: "Eight"}, inplace=True)
print(Carsales2)

# This DataFrame contains a number of employees per sales place. It will be used to show how joins can be used for tables.
Car_emp = pd.DataFrame({"N_Employees": [12, 18, 13, 14, 8, 12, 3, 9, 4, 21]})
Car_emp.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six", 6: "Seven", 7: "Eight", 8: "Nine", 9: "Ten"}, inplace=True)
print(Car_emp)

            Sales_place_name  Mercedes  Ford  Tata  Renault
Sales place
One                 Europe 1         2     3     9       12
Two              Australia 1         4     0     3        1
Three                  USA 1         0     0     4        0
Four                  Asia 1         4     1     1        0
Five                Africa 1         0     6     0        3
Six          South America 1         3    12     0        1
       Volvo  Tesla
One        3      2
Nine       4      8
Three      0      0
Six        0      1
Seven      1      1
Eight      3      4
       N_Employees
One             12
Two             18
Three           13
Four            14
Five             8
Six             12
Seven            3
Eight            9
Nine             4
Ten             21

In [27]:
carseles5 =Carsales.join(Carsales2, how='left')
print(carseles5)

            Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
Sales place
One                 Europe 1         2     3     9       12    3.0    2.0
Two              Australia 1         4     0     3        1    NaN    NaN
Three                  USA 1         0     0     4        0    0.0    0.0
Four                  Asia 1         4     1     1        0    NaN    NaN
Five                Africa 1         0     6     0        3    NaN    NaN
Six          South America 1         3    12     0        1    0.0    1.0

In [29]:
carseles6 =Carsales.join(Carsales2, how='inner')
print(carseles6)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1         2     3     9       12      3      2
Three            USA 1         0     0     4        0      0      0
Six    South America 1         3    12     0        1      0      1

In [31]:
carseles7 =Carsales.join(Carsales2, how='right')
print(carseles7)

      Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
One           Europe 1       2.0   3.0   9.0     12.0      3      2
Nine               NaN       NaN   NaN   NaN      NaN      4      8
Three            USA 1       0.0   0.0   4.0      0.0      0      0
Six    South America 1       3.0  12.0   0.0      1.0      0      1
Seven              NaN       NaN   NaN   NaN      NaN      1      1
Eight              NaN       NaN   NaN   NaN      NaN      3      4

In [33]:
carseles8 =Carsales.join(Carsales2, how='cross')
print(carseles8)

   Sales_place_name  Mercedes  Ford  Tata  Renault  Volvo  Tesla
0          Europe 1         2     3     9       12      3      2
1          Europe 1         2     3     9       12      4      8
2          Europe 1         2     3     9       12      0      0
3          Europe 1         2     3     9       12      0      1
4          Europe 1         2     3     9       12      1      1
5          Europe 1         2     3     9       12      3      4
6       Australia 1         4     0     3        1      3      2
7       Australia 1         4     0     3        1      4      8
8       Australia 1         4     0     3        1      0      0
9       Australia 1         4     0     3        1      0      1
10      Australia 1         4     0     3        1      1      1
11      Australia 1         4     0     3        1      3      4
12            USA 1         0     0     4        0      3      2
13            USA 1         0     0     4        0      4      8
14            USA 1         0     0     4        0      0      0
15            USA 1         0     0     4        0      0      1
16            USA 1         0     0     4        0      1      1
17            USA 1         0     0     4        0      3      4
18           Asia 1         4     1     1        0      3      2
19           Asia 1         4     1     1        0      4      8
20           Asia 1         4     1     1        0      0      0
21           Asia 1         4     1     1        0      0      1
22           Asia 1         4     1     1        0      1      1
23           Asia 1         4     1     1        0      3      4
24         Africa 1         0     6     0        3      3      2
25         Africa 1         0     6     0        3      4      8
26         Africa 1         0     6     0        3      0      0
27         Africa 1         0     6     0        3      0      1
28         Africa 1         0     6     0        3      1      1
29         Africa 1         0     6     0        3      3      4
30  South America 1         3    12     0        1      3      2
31  South America 1         3    12     0        1      4      8
32  South America 1         3    12     0        1      0      0
33  South America 1         3    12     0        1      0      1
34  South America 1         3    12     0        1      1      1
35  South America 1         3    12     0        1      3      4