In [63]:
# Create three Pandas DataFrames
import pandas as pd

# This is the basic Carsales DataFrame extended with two more Sales places plus the index column transformed to a feature column.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 132, 54, 6, 132], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
Carsales.index.rename('index',inplace=True)
Carsales = pd.concat([Carsales, Carsales2])
Carsales.index.rename("Sales place", inplace=True)
Carsales.reset_index(inplace=True)  # Turns index column into a feature column
print(Carsales)

# This DataFrame includes Car inventory data. Unique column values for "Sales_place_name", all included in Carsales and fewer labels than in the Carsales DataFrame.
Inv_data = pd.DataFrame({"Sales_place_name": ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], "Car_inv": [132, 54, 132, 267, 183, 172]})
print(Inv_data)

# This DataFrame includes Car inventory data. Non-unique Column values for "Sales_place_name", some included in Carsales and more labels than in the Carsales DataFrame.
Inv_data2 = pd.DataFrame({"Sales_place_name": ["Europe 1", "Europe 1", "Australia 1", "USA 1", "Asia 1", "Canada 1", "Africa 1", "South America 1", "South America 2"], "Car_inv": [132, 131, 54, 323, 267, 45, 183, 172, 144]})
print(Inv_data2)

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault
0         One         Europe 1         2     3     9       12
1         Two      Australia 1         4     0     3        1
2       Three            USA 1         0   132     4        0
3        Four           Asia 1         4    54     1        0
4        Five         Africa 1         0     6     0        3
5         Six  South America 1         3   132     0        1
6       Seven  South America 1         3     2     1        1
7       Eight           Asia 1         4     1     1        0
  Sales_place_name  Car_inv
0         Europe 1      132
1      Australia 1       54
2            USA 1      132
3           Asia 1      267
4         Africa 1      183
5  South America 1      172
  Sales_place_name  Car_inv
0         Europe 1      132
1         Europe 1      131
2      Australia 1       54
3            USA 1      323
4           Asia 1      267
5         Canada 1       45
6         Africa 1      183
7  South America 1      172
8  South America 2      144

In [59]:
print(Carsales.merge(Inv_data , how ='inner',on='Sales_place_name' ))

  Sales place Sales_place_name  Mercedes  Ford  Tata  Renault  Car_inv
0         One         Europe 1         2     3     9       12      132
1         Two      Australia 1         4     0     3        1       54
2       Three            USA 1         0     0     4        0      323
3        Four           Asia 1         4     1     1        0      267
4       Eight           Asia 1         4     1     1        0      267
5        Five         Africa 1         0     6     0        3      183
6         Six  South America 1         3    12     0        1      172
7       Seven  South America 1         3     2     1        1      172

In [67]:
print(Carsales.merge(Inv_data , how ='inner',on=None ,left_on='Ford',right_on='Car_inv'))

  Sales place Sales_place_name_x  Mercedes  Ford  Tata  Renault  \
0       Three              USA 1         0   132     4        0
1       Three              USA 1         0   132     4        0
2         Six    South America 1         3   132     0        1
3         Six    South America 1         3   132     0        1
4        Four             Asia 1         4    54     1        0

  Sales_place_name_y  Car_inv
0           Europe 1      132
1              USA 1      132
2           Europe 1      132
3              USA 1      132
4        Australia 1       54

In [69]:
print(Inv_data.merge(Carsales , how='inner',left_on='Sales_place_name',right_on='Sales_place_name'))

  Sales_place_name  Car_inv Sales place  Mercedes  Ford  Tata  Renault
0         Europe 1      132         One         2     3     9       12
1      Australia 1       54         Two         4     0     3        1
2            USA 1      132       Three         0   132     4        0
3           Asia 1      267        Four         4    54     1        0
4           Asia 1      267       Eight         4     1     1        0
5         Africa 1      183        Five         0     6     0        3
6  South America 1      172         Six         3   132     0        1
7  South America 1      172       Seven         3     2     1        1

In [73]:
print(Inv_data.merge(Carsales , how='right',left_on='Sales_place_name',right_on='Sales_place_name'))

  Sales_place_name  Car_inv Sales place  Mercedes  Ford  Tata  Renault
0         Europe 1      132         One         2     3     9       12
1      Australia 1       54         Two         4     0     3        1
2            USA 1      132       Three         0   132     4        0
3           Asia 1      267        Four         4    54     1        0
4         Africa 1      183        Five         0     6     0        3
5  South America 1      172         Six         3   132     0        1
6  South America 1      172       Seven         3     2     1        1
7           Asia 1      267       Eight         4     1     1        0