In [23]:
import pandas as pd

cardata ={'mercedas':[1,5,3,5,3],'bmw':[5,8,2,6,5],'ford':[7,8,9,1,0],'reno':[4,9,1,4,7]}
carcatalog=pd.DataFrame(cardata)
carcatalog.index.rename("one",inplace=True)
print(carcatalog[['ford']]) #carcatalog['ford'] is with out the title ford and carcatalog[['ford']] is with title ford

     ford
one
0       7
1       8
2       9
3       1
4       0

In [25]:
print(carcatalog[['ford' ,'reno' , 'mercedas' ]]) #print by the order which i write now not in thw carcatalog

     ford  reno  mercedas
one
0       7     4         1
1       8     9         5
2       9     1         3
3       1     4         5
4       0     7         3

In [31]:
carcatalog_new = carcatalog[['ford']].iloc[1:3, :] #choose the specific data as you want
print(carcatalog_new)

     ford
one
1       8
2       9

In [35]:
carcatalog_new = carcatalog.iloc[2:3, :] #choose row from 2 untill 3
print(carcatalog_new)

     mercedas  bmw  ford  reno
one
2           3    2     9     1

In [76]:
carcatalog_new = carcatalog.iloc[:,2:4] #choose column from 2 untill 3
print(carcatalog_new)

<class 'pandas.core.frame.DataFrame'>

In [51]:
carcatalog_new = carcatalog.iloc[:,[2,3]] #choose column 2 and 3 #make list with putting in []
print(carcatalog_new)

     ford  reno
one
0       7     4
1       8     9
2       9     1
3       1     4
4       0     7

In [64]:
carcatalog_new = carcatalog.iloc[:,[1]] #choose column 1  #choose column 2 and 3 #make list with putting in []
print(carcatalog_new)

     bmw
one
0      5
1      8
2      2
3      6
4      5

In [72]:
carcatalog_new = carcatalog.loc[:,["ford"]] #find the ford value  #choose column 2 and 3 #make list with putting in []
print(carcatalog_new)

one
0    7
1    8
2    9
3    1
4    0
Name: ford, dtype: int64

In [74]:
carcatalog_new = carcatalog.loc[:,"ford"] #find the ford value # not list due to didnt use []
print(carcatalog_new)

one
0    7
1    8
2    9
3    1
4    0
Name: ford, dtype: int64