In [22]:
import pandas as pd

cardata ={'mercedas':[1,5,3,5,3],'bmw':[5,8,2,6,5],'ford':[7,8,9,1,0],'reno':[4,9,1,4,7]}
carcatalog=pd.DataFrame(cardata) 
carcatalog.index.rename(name='index',inplace=True) #rename the index name to 'index'
carcatalog.rename(index={0:'one'},inplace=True) #rename the unique index to the unique name
print(carcatalog)

       mercedas  bmw  ford  reno
index
one           1    5     7     4
1             5    8     8     9
2             3    2     9     1
3             5    6     1     4
4             3    5     0     7

In [7]:
carcatalog.to_csv("example.csv") #add the Data frame into the csv file

In [20]:
carcatalog_Csvfile = pd.read_csv("example.csv",index_col = 0) # read from the index column 0
carcatalog_Csvfile.index.rename(name='sales place',inplace=True)
print(carcatalog_file)

             mercedas  bmw  ford  reno
sales place
ono                 1    5     7     4
1                   5    8     8     9
2                   3    2     9     1
3                   5    6     1     4
4                   3    5     0     7

In [71]:
carcatalog.to_excel("excelexmple.xlsx") #add the Data frame into the excel file
carcatalog_Csvexcel = pd.read_excel("excelexmple.xlsx") #read from the excel file
carcatalog_Csvexcel1 = pd.read_excel("excelexmple.xlsx", index_col = 0) #read from the excel file from first column
desiredatas=carcatalog_Csvexcel1['bmw'] #show the only bmw datas

print(desiredatas , carcatalog_Csvexcel ,carcatalog_Csvexcel1 )

index
one    5
1      8
2      2
3      6
4      5
Name: bmw, dtype: int64   index  mercedas  bmw  ford  reno
0   one         1    5     7     4
1     1         5    8     8     9
2     2         3    2     9     1
3     3         5    6     1     4
4     4         3    5     0     7        mercedas  bmw  ford  reno
index
one           1    5     7     4
1             5    8     8     9
2             3    2     9     1
3             5    6     1     4
4             3    5     0     7

In [101]:
import sqlite3 as sql
connection =sql.connect("carcatalog.db") # make connection to database with the desire name
carcatalog.to_sql("carcatalog_table",connection , if_exists = "replace") # add the carcatalog into the database with the desire table name
carcatalog_DB = pd.read_sql_query(" SELECT * FROM carcatalog_table" ,connection )# get all datas from database
carcatalog_DB=carcatalog_DB.set_index("index")
print(carcatalog_DB)

       mercedas  bmw  ford  reno
index
one           1    5     7     4
1             5    8     8     9
2             3    2     9     1
3             5    6     1     4
4             3    5     0     7

In [121]:
print(carcatalog.info()) #show
print(carcatalog['bmw'].info())
print(carcatalog.loc[2,"reno"]) #find the value of index 2 of the reno

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, one to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mercedas  5 non-null      int64
 1   bmw       5 non-null      int64
 2   ford      5 non-null      int64
 3   reno      5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes
None
<class 'pandas.core.series.Series'>
Index: 5 entries, one to 4
Series name: bmw
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes
None
1