In [ ]:
# تابع `pivot` در `pandas` برای تغییر شکل (reshape) داده‌ها مفید است، به ویژه زمانی که می‌خواهید داده‌ها را بر اساس مقادیر یک ستون به عنوان ستون‌های جدید و یک ستون دیگر به عنوان سطرهای جدید دسته‌بندی کنید. این تابع معمولاً زمانی مورد استفاده قرار می‌گیرد که می‌خواهید داده‌هایتان را برای تحلیل یا نمایش به شکل دیگری مرتب کنید.

# برخی از موارد استفاده از تابع `pivot` شامل موارد زیر می‌شود:

# 1. **تجزیه و تحلیل داده‌ها:** زمانی که می‌خواهید داده‌هایتان را بر اساس ویژگی‌های خاصی مانند نوع، محل یا زمان دسته‌بندی کنید، می‌توانید از تابع `pivot` استفاده کنید تا داده‌ها به شکلی جدید مرتب شوند که بتوانید الگوها و روندهای جدید را بررسی کنید.

# 2. **نمایش داده‌ها:** تابع `pivot` به شما امکان می‌دهد داده‌ها را به شکل دلخواهی نمایش دهید، ممکن است برای نمایش داده‌های پیچیده به صورت ساده‌تر یا برای ایجاد گزارش‌ها و نمودارها استفاده شود.

# 3. **پیش‌پردازش داده:** گاهی اوقات داده‌هایتان به شکلی نیاز دارند که متناسب با یک الگوی خاص در آنالیز داده‌ها قرار بگیرند، استفاده از `pivot` می‌تواند برای پیش‌پردازش داده‌ها قبل از انجام محاسبات یا مدل‌سازی مفید باشد.

# 4. **محاسبات تجمعی (Aggregation):** زمانی که می‌خواهید مقادیر را بر اساس یک یا چند ویژگی دیگر تجمیع کنید، می‌توانید از `pivot` استفاده کنید تا مقادیر را به شکل مناسبی محاسبه و نمایش دهید.

# مثال‌هایی از موارد استفاده از تابع `pivot` شامل نمایش فروش محصولات در مناطق مختلف به صورت مقابله‌ای، تجزیه و تحلیل اطلاعات درآمد بر اساس سن و جنسیت، نمایش داده‌های درخواست‌های وب بر اساس زمان و سایر موارد می‌باشد.

In [53]:
import pandas as pd

# This code will become the Carsales DataFrame extended with two more Sales places plus the "Rating" and "Target" columns.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1], "Rating":["high", "med.", "low", "low", "med.", "high"], "Target":["Y", "Y", "Y", "N", "N", "N"]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)
Carsales2 = pd.DataFrame({"Sales_place_name": ["South America 1", "Asia 1"], "Mercedes": [3, 4], "Ford": [2, 1], "Tata": [1, 1], "Renault": [1, 0], "Rating": ["low", "low"], "Target":["N", "N"]})
Carsales2.rename(index={0: "Seven", 1: "Eight"}, inplace=True)
Carsales3 = pd.concat([Carsales, Carsales2])
Carsales3.index.rename("Sales place", inplace=True)

print(Carsales2)

      Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
Seven  South America 1         3     2     1        1    low      N
Eight           Asia 1         4     1     1        0    low      N

In [59]:
carsels4=Carsales3.transpose() #change the row and columns
print(carsels4)

None

In [16]:
Carsales6=Carsales.pivot(index='Sales_place_name',columns='Rating',values='Mercedes')#the first column is (index header) Rating and the Rating values are the column title's . 
#the indexes are the Sales_place_name's value and the value of index's is the value of Mercedes
print(Carsales6)

Rating            high  low  med.
Sales_place_name
Africa 1           NaN  NaN   0.0
Asia 1             NaN  4.0   NaN
Australia 1        NaN  NaN   4.0
Europe 1           2.0  NaN   NaN
South America 1    3.0  NaN   NaN
USA 1              NaN  0.0   NaN

In [20]:
Carsales7=Carsales.pivot(index='Sales_place_name',columns='Rating',values=['Mercedes','Ford'])
print(Carsales7)

                 Mercedes            Ford
Rating               high  low med.  high  low med.
Sales_place_name
Africa 1              NaN  NaN  0.0   NaN  NaN  6.0
Asia 1                NaN  4.0  NaN   NaN  1.0  NaN
Australia 1           NaN  NaN  4.0   NaN  NaN  0.0
Europe 1              2.0  NaN  NaN   3.0  NaN  NaN
South America 1       3.0  NaN  NaN  12.0  NaN  NaN
USA 1                 NaN  0.0  NaN   NaN  0.0  NaN

In [28]:
Carsales8=Carsales.pivot(index='Target',columns='Rating',values='Mercedes')
print(Carsales8)
# (columns) |    (columns value)   |  (columns value)     |  (columns value)       |
# ----------------------------------------------
# (index) |
# --------------------------------------------- 
#  (index value)   | (values value)
#    (index value) | (values value)

Rating  high  low  med.
Target
N          3    4     0
Y          2    0     4

In [35]:
Carsales9=Carsales.pivot(columns='Target',index='Rating')
print(Carsales9)

       Sales_place_name              Mercedes    Ford    Tata    Renault
Target                N            Y        N  Y    N  Y    N  Y       N   Y
Rating
high    South America 1     Europe 1        3  2   12  3    0  9       1  12
low              Asia 1        USA 1        4  0    1  0    1  4       0   0
med.           Africa 1  Australia 1        0  4    6  0    0  3       3   1

In [49]:
Carsales10=Carsales.pivot_table(columns='Target',index='Rating',values=['Mercedes','Ford','Tata'])
print(Carsales10)

None

In [61]:
import pandas as pd

# داده‌های نمونه
data = {
    'Month': ['January', 'February', 'March', 'April'],
    'Source_1': [1000, 1200, 1100, 1300],
    'Source_2': [900, 1100, 1000, 1200],
    'Source_3': [800, 1000, 900, 1100]
}

# ساخت DataFrame
income_data = pd.DataFrame(data)
print("Original DataFrame:")
print(income_data)

# تبدیل داده‌ها به فرمت بلند
melted_data = pd.melt(income_data, id_vars=['Month'], var_name='Source', value_name='Income')
print("\nMelted DataFrame:")
print(melted_data)

Original DataFrame:
      Month  Source_1  Source_2  Source_3
0   January      1000       900       800
1  February      1200      1100      1000
2     March      1100      1000       900
3     April      1300      1200      1100

Melted DataFrame:
       Month    Source  Income
0    January  Source_1    1000
1   February  Source_1    1200
2      March  Source_1    1100
3      April  Source_1    1300
4    January  Source_2     900
5   February  Source_2    1100
6      March  Source_2    1000
7      April  Source_2    1200
8    January  Source_3     800
9   February  Source_3    1000
10     March  Source_3     900
11     April  Source_3    1100