In [43]:
import pandas as pd

cardata ={'mercedas':[1,5,3,5,3],'bmw':[5,8,2,6,5],'ford':[7,8,9,1,0],'reno':[4,9,1,4,7]}
carcatalog = pd.DataFrame(cardata)
carcatalog=carcatalog.rename(index={0: 'one', 1: 'two', 2: 'three', 3: 'four', 4: 'five'})
carcatalog.index.rename("index name" , inplace=True)
print(carcatalog)

            mercedas  bmw  ford  reno
index name
one                1    5     7     4
two                5    8     8     9
three              3    2     9     1
four               5    6     1     4
five               3    5     0     7

In [17]:
print(carcatalog.loc['three']) # return the row with the name three

mercedas    3
bmw         2
ford        9
reno        1
Name: three, dtype: int64

In [19]:
print(carcatalog.iloc[3])# return the row with index 3

mercedas    5
bmw         6
ford        1
reno        4
Name: four, dtype: int64

In [21]:
print(carcatalog.loc['two':'four']) # return the rows between two and four

       mercedas  bmw  ford  reno
two           5    8     8     9
three         3    2     9     1
four          5    6     1     4

In [27]:
print(carcatalog.iloc[ 2 : 4])# return the rows start by index 2 and not show the index 4

       mercedas  bmw  ford  reno
three         3    2     9     1
four          5    6     1     4

In [35]:
print(carcatalog.loc[ :'four'])# return the rows from start to four ( return four also )

       mercedas  bmw  ford  reno
one           1    5     7     4
two           5    8     8     9
three         3    2     9     1
four          5    6     1     4

In [37]:
print(carcatalog.loc[ 'two' : ])# return the rows  start to from two untill the last  ( return two also )

       mercedas  bmw  ford  reno
two           5    8     8     9
three         3    2     9     1
four          5    6     1     4
five          3    5     0     7

In [39]:
print(carcatalog.iloc[ : : 2])# return the rows with jump 2

       mercedas  bmw  ford  reno
one           1    5     7     4
three         3    2     9     1
five          3    5     0     7

In [41]:
print(carcatalog.iloc[ : : -1])# return the rows backwards

       mercedas  bmw  ford  reno
five          3    5     0     7
four          5    6     1     4
three         3    2     9     1
two           5    8     8     9
one           1    5     7     4