In [49]:
import pandas as pd

# This code will become the Carsales DataFrame extended with two more Sales places plus the "Rating" and "Target" columns.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1], "Rating":["high", "med.", "low", "low", "med.", "high"], "Target":["Y", "Y", "Y", "N", "N", "N"]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)
Carsales.insert(0, "Sales_place_name", ["Europe 1", "Australia 1", "USA 1", "Asia 1", "Africa 1", "South America 1"], allow_duplicates=True)

print(Carsales)
print(Carsales.columns)
print(Carsales.index)

      Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
One           Europe 1         2     3     9       12   high      Y
Two        Australia 1         4     0     3        1   med.      Y
Three            USA 1         0     0     4        0    low      Y
Four            Asia 1         4     1     1        0    low      N
Five          Africa 1         0     6     0        3   med.      N
Six    South America 1         3    12     0        1   high      N
Index(['Sales_place_name', 'Mercedes', 'Ford', 'Tata', 'Renault', 'Rating',
       'Target'],
      dtype='object')
Index(['One', 'Two', 'Three', 'Four', 'Five', 'Six'], dtype='object')

In [33]:
Carsales.rename(index={'Two': 51}, columns={'Mercedes': 'Mazda'}, inplace=True)
print(Carsales)

      Sales_place_name  Mazda  Ford  Tata  Renault Rating Target
One           Europe 1      2     3     9       12   high      Y
51         Australia 1      4     0     3        1   med.      Y
Three            USA 1      0     0     4        0    low      Y
Four            Asia 1      4     1     1        0    low      N
Five          Africa 1      0     6     0        3   med.      N
Six    South America 1      3    12     0        1   high      N

In [51]:
print(Carsales.duplicated(subset=['Mercedes']))

One      False
Two      False
Three    False
Four      True
Five      True
Six      False
dtype: bool

In [53]:
print(Carsales.duplicated(subset=['Sales_place_name'] , keep ="last"))

One      False
Two      False
Three    False
Four     False
Five     False
Six      False
dtype: bool

In [55]:
print(Carsales.duplicated(subset=['Mercedes'] , keep ="first"))

One      False
Two      False
Three    False
Four      True
Five      True
Six      False
dtype: bool

In [59]:
print(Carsales.drop_duplicates(subset=['Mercedes'] , keep ="first")) #delete the duplicate with key 'Mercedes' , each value which is/are duplicate in 'Mercedes' , delete.

      Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
One           Europe 1         2     3     9       12   high      Y
Two        Australia 1         4     0     3        1   med.      Y
Three            USA 1         0     0     4        0    low      Y
Six    South America 1         3    12     0        1   high      N

In [73]:
print(Carsales.drop_duplicates(subset=['Tata','Ford'], keep='first'))

      Sales_place_name  Mercedes  Ford  Tata  Renault Rating Target
One           Europe 1         2     3     9       12   high      Y
Two        Australia 1         4     0     3        1   med.      Y
Three            USA 1         0     0     4        0    low      Y
Four            Asia 1         4     1     1        0    low      N
Five          Africa 1         0     6     0        3   med.      N
Six    South America 1         3    12     0        1   high      N