In [7]:
# Create three Pandas DataFrames
import pandas as pd

# This is the basic Carsales DataFrame extended with two more Sales places plus the index column transformed to a feature column.
Cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 132, 54, 6, 132], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
Carsales = pd.DataFrame(Cardata)
Carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)

print(Carsales)

       Mercedes  Ford  Tata  Renault
One           2     3     9       12
Two           4     0     3        1
Three         0   132     4        0
Four          4    54     1        0
Five          0     6     0        3
Six           3   132     0        1

In [9]:
print(Carsales.sort_values(['Ford']))

       Mercedes  Ford  Tata  Renault
Two           4     0     3        1
One           2     3     9       12
Five          0     6     0        3
Four          4    54     1        0
Three         0   132     4        0
Six           3   132     0        1

In [13]:
print(Carsales.sort_values(['Ford'],ascending=False))#نزولی مرتب میشوند ascending=False

       Mercedes  Ford  Tata  Renault
Six           3   132     0        1
Three         0   132     4        0
Four          4    54     1        0
Five          0     6     0        3
One           2     3     9       12
Two           4     0     3        1

In [17]:
print(Carsales.sort_values(['Ford','Tata']))

       Mercedes  Ford  Tata  Renault
Two           4     0     3        1
One           2     3     9       12
Five          0     6     0        3
Four          4    54     1        0
Six           3   132     0        1
Three         0   132     4        0

In [31]:
print(Carsales.sort_index())

       Mercedes  Ford  Tata  Renault
Five          0     6     0        3
Four          4    54     1        0
One           2     3     9       12
Six           3   132     0        1
Three         0   132     4        0
Two           4     0     3        1

In [33]:
print(Carsales.idxmax())#اولین مقدار بزرگترین  در هر ستون را بازمی‌گرداند
#ایندکس بزرگ ترین مقدار در هر تایتل
# مثلا در مرسدس عدد 4 از همه بیشتر است و اولین ایندکس ای که چهار دارد اینکدس 2 است ،پس 2 برگردانده میشود

Mercedes      Two
Ford        Three
Tata          One
Renault       One
dtype: object

In [49]:
print(Carsales['Ford'].idxmax(axis='columns'))

Three

In [51]:
print(Carsales['Ford'].idxmax())

Three

In [37]:
print(Carsales.idxmin())

Mercedes    Three
Ford          Two
Tata         Five
Renault     Three
dtype: object

In [39]:
print(Carsales.idxmin(axis='columns'))

One      Mercedes
Two          Ford
Three    Mercedes
Four      Renault
Five     Mercedes
Six          Tata
dtype: object

In [41]:
print(Carsales.nlargest(3,'Ford',keep='all'))# show 3 largest Ford data

       Mercedes  Ford  Tata  Renault
Three         0   132     4        0
Six           3   132     0        1
Four          4    54     1        0

In [43]:
print(Carsales.nsmallest(3,'Ford',keep='all'))

      Mercedes  Ford  Tata  Renault
Two          4     0     3        1
One          2     3     9       12
Five         0     6     0        3

In [55]:
print(Carsales.rank())

       Mercedes  Ford  Tata  Renault
One         3.0   2.0   6.0      6.0
Two         5.5   1.0   4.0      3.5
Three       1.5   5.5   5.0      1.5
Four        5.5   4.0   3.0      1.5
Five        1.5   3.0   1.5      5.0
Six         4.0   5.5   1.5      3.5

In [67]:
print(Carsales.rank(ascending=False))

       Mercedes  Ford  Tata  Renault
One         3.0   2.0   6.0      6.0
Two         5.5   1.0   4.0      3.5
Three       1.5   5.5   5.0      1.5
Four        5.5   4.0   3.0      1.5
Five        1.5   3.0   1.5      5.0
Six         4.0   5.5   1.5      3.5

In [59]:
print(Carsales['Tata'].rank(ascending=False))

One      1.0
Two      3.0
Three    2.0
Four     4.0
Five     5.5
Six      5.5
Name: Tata, dtype: float64

In [61]:
print(Carsales.rank(axis=1,ascending=False))
# هر ردیف را رنک بندی میکند

       Mercedes  Ford  Tata  Renault
One         4.0   3.0   2.0      1.0
Two         1.0   4.0   2.0      3.0
Three       3.5   1.0   2.0      3.5
Four        2.0   1.0   3.0      4.0
Five        3.5   1.0   3.5      2.0
Six         2.0   1.0   4.0      3.0